/** style.css **/

@charset "utf-8";
.page {
    font-size: 13px;
    color: #333;
    margin-top: 60px;
}
#pageContent {
    min-height: 1000px;
}

.pre-scrollable {
    max-height: 200px;
    overflow-y: scroll;
  }

/** footer **/
footer {
    margin-top : 5px;
    padding-top : 10px;
    color : #fff;
}
footer a:link {
    text-decoration : none;
    color : #fff;
}
footer a:visited {
    text-decoration : none;
    color : #fff;
}
footer a:hover {
    text-decoration : none;
    color: #4682B4;
}
footer a:active {
    text-decoration : none;
    color : #fff;
}